{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_demandes.css' %}">
<h1>Gestion des demandes</h1>
<div class="btn-container">
<a href="{% url 'kroschu_application:export_data' %}?type=demandes" class="btn-export">Exporter les Alertes Logistique en CSV</a>
</div>
<!-- Filtres -->
<form method="GET" action="{% url 'kroschu_application:admin_demandes' %}">
    <label for="statut">Statut :</label>
    <select id="statut" name="statut">
        <option value="">Tous</option>
        <option value="en_attente">En attente</option>
        <option value="traité">Traité</option>
    </select>
    
    <label for="poste"> Poste :</label>
    <input type="text" id="poste" name="poste" placeholder="Rechercher par poste">
    
    <div class="date-container">
        <label for="date">Date :</label>
        <input type="date" id="date" name="date">
    </div>
    
    <button type="submit">Filtrer</button>
</form>

<!-- Liste des demandes -->
<div id="table-container">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Poste</th>
            <th>Shift</th>
            <th>Zone</th>
            <th>Date de création</th>
            <th>Heure de création</th>
            <th>Heure de clôture</th>
            <th>Statut</th>
            <th>Temps écoulé (min)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="demandes-body">
        {% for demande in demandes %}
        <tr>
            <td style="font-size: 1.0em; font-weight: bold;">{{ demande.id }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ demande.poste.poste }}</td> 
            <td style="font-size: 1.0em; font-weight: bold;">
                {% if demande.poste.shift == 'A' %}
                    A 
                {% elif demande.poste.shift == 'B' %}
                    B 
                {% else %}
                    C 
                {% endif %}
            </td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ demande.poste.zone}}</td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ demande.created_at|date:"d/m/Y" }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ demande.created_at|time:"H:i" }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">
                {% if demande.statut == 'en_attente' %}
                    En attente
                {% else %}
                    {{ demande.validated_at|time:"H:i" }}
                
                
                {% endif %}
            </td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ demande.statut }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">
                {% if demande.temps_de_traitement %}
                    {{ demande.temps_de_traitement|floatformat:2 }}
                {% else %}
                    en_attente
                {% endif %}
            </td>
            
            <td>
                <form method="POST" action="{% url 'kroschu_application:soft_deletedem' 'demande' demande.id %}" class="btn-delete">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">🗑️</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    function refreshTable() {
        fetch(window.location.href)
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const newDocument = parser.parseFromString(html, 'text/html');
                const newTableBody = newDocument.getElementById('demandes-body');
                document.getElementById('demandes-body').innerHTML = newTableBody.innerHTML;
            })
            .catch(error => console.error('Erreur lors du rafraîchissement:', error));
    }

    // Rafraîchir toutes les secondes (1000 ms)
    setInterval(refreshTable, 5000);
</script>    
{% endblock %}