{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/admin_alertes_maintenance.css' %}">

<h1>Gestion des alertes</h1>
<div class="btn-container">
<a href="{% url 'kroschu_application:export_data' %}?type=alertemains" class="btn-export">Exporter les Alertes Maintenance en CSV</a>
</div>
<!-- Filtres -->
<form method="GET" action="{% url 'kroschu_application:admin_alertes_maintenance' %}">
    <label for="statut">Statut :</label>
    <select id="statut" name="statut">
        <option value="">Tous</option>
        <option value="en_attente">En attente</option>
        <option value="traite">Traité</option>
    </select>
    
    <label for="poste">Poste :</label>
    <input type="text" id="poste" name="poste" placeholder="Rechercher par poste">
    
    <div class="date-container">
        <label for="date">Date :</label>
        <input type="date" id="date" name="date">
    </div>
    
    <button type="submit">Filtrer</button>
</form>

<!-- Liste des demandes -->
<div id="table-container">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Poste</th>
            <th>Shift</th>
            <th>Zone</th>
            <th>Date de création</th>
            <th>Statut</th>
            <th>Temps écoulé</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="alertemains-body">
        {% for alertemain in alertemains %}
        <tr>
            <td style="font-size: 1.0em; font-weight: bold;">{{ alertemain.id }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ alertemain.poste.poste }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">
                {% if alertemain.poste.shift == 'A' %}
                    A 
                {% elif alertemain.poste.shift == 'B' %}
                    B 
                {% else %}
                    C 
                {% endif %}
            </td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ alertemain.poste.zone}}</td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ alertemain.created_at|date:"d/m/Y H:i" }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">{{ alertemain.statut }}</td>
            <td style="font-size: 1.0em; font-weight: bold;">
                {% if alertemain.temps_de_traitement %}
                    {{ alertemain.temps_de_traitement|floatformat:2 }}
                {% else %}
                    En attente
                {% endif %}
            </td>
            
            <td>
                <form method="POST" action="{% url 'kroschu_application:soft_deletedem' 'alertemain' alertemain.id %}" class="btn-delete">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete">🗑️</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    function refreshTable() {
        fetch(window.location.href)
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const newDocument = parser.parseFromString(html, 'text/html');
                const newTableBody = newDocument.getElementById('alertemains-body');
                document.getElementById('alertemains-body').innerHTML = newTableBody.innerHTML;
            })
            .catch(error => console.error('Erreur lors du rafraîchissement:', error));
    }

    // Rafraîchir toutes les secondes (1000 ms)
    setInterval(refreshTable, 5000);
</script>
{% endblock %}