{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord - Logistique</title>
    <link rel="stylesheet" href="{% static 'css/logistique_dashboard.css' %}">
</head>
<body>
    <a href="{% url 'kroschu_application:logout_view' %}" class="logout-button">
        <i class="fas fa-sign-out-alt"></i> Se déconnecter
    </a>
    
    <h2>Bienvenue, Responsable Logistique</h2>

    <h3>Liste des demandes de matériel</h3>
    
    <!-- Table des demandes -->
    <table>
        <thead>
            <tr>
                <th>ID Demande</th>
                <th>ID Utilisateur</th>
                <th>Nom Prénom</th>
                <th>Shift</th>
                <th>Poste</th>
                <th>Date de Création</th>
                <th>Statut</th>
                <th>Temps écoulé</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.user_id.user_id}}</td>
                <td>{{ demande.user_id.nom_prenom }}</td>
                <td>{{ demande.user_id.shift }}</td>
                <td>{{ demande.user_id.poste }}</td>
                <td>{{ demande.created_at|date:"d/m/Y H:i" }}</td>
                <td>
                    <span class="statut {% if demande.statut == 'en_attente' %}en-attente{% else %}traite{% endif %}">
                        {{ demande.statut }}
                    </span>
                </td>
                
                <td>
                    {% if demande.temps_de_traitement %}
                        {{ demande.temps_de_traitement|floatformat:2 }}
                    {% else %}
                        En attente
                    {% endif %}
                </td>
                
                
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Aucune demande disponible</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>
