{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord - Opérateur</title>
    <link rel="stylesheet" href="{% static 'css/operateur_dashboard.css' %}">
</head>
<body>
    <a href="{% url 'kroschu_application:logout_view' %}" class="logout-button">
        <i class="fas fa-sign-out-alt"></i> Se déconnecter
    </a>
    <h2>Bienvenue,Opérateur <br> Poste : {{ request.user.poste }} </h2>

    <!-- Section Demande -->
    <div class="dashboard-container">
        <!-- Colonne gauche -->
        <div class="left-column">
            <div class="section">
                <h3>Alerte maintenance</h3>
                <form method="POST" action="{% url 'kroschu_application:alerte_maintenance' %}">
                    {% csrf_token %}
                    <button type="submit" class="circle-button maintenance-button"></button>
                </form>
            </div>
            
            <div class="section">
                <h3>Alerte qualité</h3>
                <form method="POST" action="{% url 'kroschu_application:alerte_qualite' %}">
                    {% csrf_token %}
                    <button type="submit" class="circle-button qualite-button"></button>
                </form>
            </div>
        </div>
    
    
        <!-- Colonne droite -->
        <div class="right-column">
            <div class="section">
                <h3>Demande matériel</h3>
                <form method="POST" action="{% url 'kroschu_application:demande_materiel' %}">
                    {% csrf_token %}    
                    <button type="submit" class="circle-button demande-materiel-button"></button>
                </form>
            </div>
            
    
            <div class="section">
                <h3>Alerte chef d’équipe / polyvalent</h3>
                <form method="POST" action="{% url 'kroschu_application:alerte_chef' %}">
                    {% csrf_token %}
                    <button type="submit" class="circle-button chef-button"></button>
                </form>
            </div>
        </div>
    </div>

    <!-- Section Historique des demandes et alertes -->
    <div class="history">
        <h3>Historique des demandes et alertes</h3>

        <!-- Tableau des Demandes de matériel -->
        <h4>Demandes de matériel envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Demande</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td style="font-size: 1.1em; font-weight: bold;">{{ demande.id }}</td>
                        <td>{{ demande.statut}}</td>
                        <td>
                            {% if demande.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_demande' demande.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">Aucune demande envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Tableau des Alertes Maintenance envoyées -->
        <h4>Alertes Maintenance Envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Alerte</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for alertemain in alertemains %}
                    <tr>
                        <td  style="font-size: 1.1em; font-weight: bold;">{{ alertemain.id }}</td>
                        <td>{{ alertemain.statut}}</td>
                        <td>
                            {% if alertemain.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_alerte_maintenance' alertemain.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3">Aucune alerte envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Alertes Qualité Envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Alerte</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for  alertequal in alertequals %}
                    <tr>
                        <td  style="font-size: 1.1em; font-weight: bold;">{{  alertequal.id }}</td>
                        <td>{{  alertequal.statut }}</td>
                        <td>
                            {% if  alertequal.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_alerte_qualite'  alertequal.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3">Aucune alerte envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Alertes chef d'equipe Envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Alerte</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for alertechef in alertechefs %}
                    <tr>
                        <td  style="font-size: 1.1em; font-weight: bold;">{{ alertechef.id }}</td>
                        <td>{{ alertechef.statut }}</td>
                        <td>
                            {% if alertechef.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_alerte_chef' alertechef.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3">Aucune alerte envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
