{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord - Opérateur</title>
    <link rel="stylesheet" href="{% static 'css/operateur_dashboard.css' %}">
</head>
<body>
    <a href="{% url 'kroschu_application:logout_view' %}" class="logout-button">
        <i class="fas fa-sign-out-alt"></i> Se déconnecter
    </a>
    <h2>Bienvenue, Opérateur</h2>

    <!-- Section Demande -->
    <div class="section">
        <h3 class="demande-materiel">Demande de matériel</h3>

        <form method="POST" action="{% url 'kroschu_application:demande_materiel' %}">
            {% csrf_token %}
            <label for="type_materiel">Choisir le type de matériel:</label>
            <select name="type_materiel" id="type_materiel">
                <option value="fil">Fil</option>
                <option value="gaine">Gaine</option>
                <option value="terminale">Terminale</option>
                <option value="connecteur">Connecteur</option>
            </select>
            <!-- Champ pour ajouter une description -->
    
            <button type="submit">Envoyer la demande</button>
        </form>
    </div>
    <hr>
    <!-- Section Alertes -->
    <div class="section">

        <!-- Formulaire pour envoyer une alerte -->
            <!-- Section Alertes -->
    <div class="section">
        <h3 class="Maintenance">Alertes Maintenance</h3>
        <form method="POST" action="{% url 'kroschu_application:alerte_maintenance' %}">
            {% csrf_token %}
            <label for="type_alertemain">Choisir le type de panne:</label>
            <select name="type_alertemain" id="type_alertemain">
                <option value="mecanique">Mécanique</option>
                <option value="hydraulique">Hydraulique</option>
                <option value="electrique">Électrique</option>
                <option value="autre">Autre</option>
            </select>
            
            <button type="submit">Envoyer l'alerte</button>
        </form>
        
    </div>
    <div class="section">
        <h3 class="Qualité">Alertes Qualité</h3>
        <form method="POST" action="{% url 'kroschu_application:alerte_qualite' %}">
            {% csrf_token %}
            <label for="type_alertequal">Choisir le type d'alerte pour Qualité:</label>
            <select name="type_alertequal" id="type_alertequal">
                <option value="verification">Vérification</option>
                <option value="validation">Validation</option>
                <option value="autre">Autre</option>
            </select>
            
            <button type="submit">Envoyer l'alerte</button>
        </form>
        
    </div>
    <div class="section">
        <h3 class="chef-dequipe">Alertes chef d'equipe</h3>
        <form method="POST" action="{% url 'kroschu_application:alerte_chef' %}">
            {% csrf_token %}
            <label for="type_alertechef">Choisir le type d'alerte pour Chef d'équipe:</label>
            <select name="type_alertechef" id="type_alertechef">
                <option value="assistance">Assistance</option>
                <option value="autre">Autre</option>
            </select>
            
            <button type="submit">Envoyer l'alerte</button>
        </form>
        
    </div>
    </div>

    <hr>

    <!-- Section Historique des demandes et alertes -->
    <div class="history">
        <h3>Historique des demandes et alertes</h3>

        <!-- Tableau des Demandes de matériel -->
        <h4>Demandes de matériel envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Demande</th>
                    <th>Type de matériel</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.id }}</td>
                        <td>{{ demande.type_materiel }}</td>
                        <td>{{ demande.statut}}</td>
                        <td>
                            {% if demande.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_demande' demande.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider l'intervention logistique</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">Aucune demande envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Tableau des Alertes Maintenance envoyées -->
        <h4>Alertes Maintenance Envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Alerte</th>
                    <th>Type d'alerte</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for alertemain in alertemains %}
                    <tr>
                        <td>{{ alertemain.id }}</td>
                        <td>{{ alertemain.type_alertemain }}</td>
                        <td>{{ alertemain.statut}}</td>
                        <td>
                            {% if alertemain.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_alerte_maintenance' alertemain.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider l'intervention maintenance</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3">Aucune alerte envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Alertes Qualité Envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Alerte</th>
                    <th>Type d'alerte</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for  alertequal in alertequals %}
                    <tr>
                        <td>{{  alertequal.id }}</td>
                        <td>{{  alertequal.type_alertequal }}</td>
                        <td>{{  alertequal.statut }}</td>
                        <td>
                            {% if  alertequal.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_alerte_qualite'  alertequal.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider l'intervention qualité</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3">Aucune alerte envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Alertes chef d'equipe Envoyées :</h4>
        <table>
            <thead>
                <tr>
                    <th>ID Alerte</th>
                    <th>Type d'alerte</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for alertechef in alertechefs %}
                    <tr>
                        <td>{{ alertechef.id }}</td>
                        <td>{{ alertechef.type_alertechef }}</td>
                        <td>{{ alertechef.statut }}</td>
                        <td>
                            {% if alertechef.statut == 'en_attente' %}
                                <form method="POST" action="{% url 'kroschu_application:valider_alerte_chef' alertechef.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Valider l'intervention de chef d'équipe</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3">Aucune alerte envoyée.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Section Historique des tâches -->
    <div class="history">
        <h3>Historique des tâches assignées et terminées</h3>
<table>
    <thead>
        <tr>
            <th>ID Tâche</th>
            <th>Type de Machine</th>
            <th>Statut</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.id }}</td>
                <td>{{ tache.type_machine }}</td>
                <td>{{ tache.statut}}</td>
                <td>
                    {% if tache.statut == 'en_attente' %}
                        <!-- Formulaire pour signaler la tâche terminée -->
                        <form method="POST" action="{% url 'kroschu_application:signaler_tache_terminee' tache.id %}">
                            {% csrf_token %}
                            <button type="submit">Signaler la tâche terminée</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="4">Aucune tâche assignée pour le moment.</td></tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</body>
</html>
