{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord - Qualité</title>
    <link rel="stylesheet" href="{% static 'css/qualite_dashboard.css' %}">
</head>
<body>
    <a href="{% url 'kroschu_application:logout_view' %}" class="logout-button">
        <i class="fas fa-sign-out-alt"></i> Se déconnecter
    </a>
    <h2>Bienvenue, Responsable Qualité</h2>

    <!-- Section pour afficher les alertes qualité -->
    <h3>Liste des alertes de qualité</h3>

    <!-- Table des alertes -->
    <table>
        <thead>
            <tr>
                <th>ID Alerte</th>
                <th>User ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Type de D'alerte</th>
                <th>Date de Création</th>
                <th>Statut</th>
                <th>Temps écoulé</th>
                
            </tr>
        </thead>
        <tbody>
            {% for alertequal in alertequals %}
            <tr>
                <td>{{ alertequal.id }}</td>
                <td>{{ alertequal.user_id }}</td>
                <td>{{ alertequal.user_id.nom }}</td>
                <td>{{ alertequal.user_id.prenom }}</td>
                <td>{{ alertequal.type_alertequal }}</td>
                <td>{{ alertequal.created_at|date:"d/m/Y H:i" }}</td>

                <td>
                    <span class="statut {% if alertequal.statut == 'en_attente' %}en-attente{% else %}traite{% endif %}">
                        {{ alertequal.statut }}
                    </span>
                </td>
                <td>
                    {% if alertequal.temps_de_traitement %}
                        {{ alertequal.temps_de_traitement|floatformat:2 }}
                    {% else %}
                        En attente
                    {% endif %}
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Aucune alerte disponible</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
